{%extends 'scoreboard/base.html'%}

{%block content%}
<!-- Introduction -->
<div id = "welcome-slide">
    <div class="page-header"><h1>Hello World</h1></div>
    <p>Score! is an online site which provides interactive scoreboard, which can be used to record your personal contests!</p>
    <div class="sub-header"><h2>Instructions</h2></div>
    <p>Click 'Create a Scoreboard'</p>
    <p>Add in the relevant Students and Columns and their respective set of scores</p>
    <p>Rank them and stay competitive!</p>
    <hr>
    <h3>Example:</h3>
    <img src = "/media/images/demo.png" height="500px" width="1000px" >
</div>
{%endblock%}