{%extends 'scoreboard/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="mymessage">
   {{ createscoreboard_form.errors }}
</div>
<div class="acontainer">
    <div class="row" id = "creation">
        <div class="col-md-6">
            <h3>Create a new scoreboard</h3>
            {%if createscoreboard_form %}
                {%crispy createscoreboard_form%}
            {%endif%}
            
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Student</h4>
                  </div>
                  <div class="modal-body">
                    {%if createstudent_form%} {% crispy createstudent_form %} {%endif%}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="myModal3" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Score</h4>
                  </div>
                  <div class="modal-body">
                    {%if createscore_form%} {% crispy createscore_form %} {%endif%}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Column</h4>
                  </div>
                  <div class="modal-body">
                    {%if createcolumn_form%} {% crispy createcolumn_form %} {%endif%}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
{%endblock%}
