{% extends 'scoreboard/base.html'%}
{%block title%}
    {{user.username}}
{%endblock%}
{%load staticfiles%}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'scoreboard/style.css' %}" />
    {% if scoreboard_list %}
        {% for scoreboard in scoreboard_list  %}
            <a href = "/scoreboard/{{scoreboard.id}}">
                <div class = "postit" style = "background:{{scoreboard.color}};color:{{scoreboard.fontcolor}}">
                    <u>{{scoreboard.name}}</u>
                    <br>
                    <br>
                    <table id = "t01" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ranking</th>
                                <th>Contestant</th>
                                {% for col in scoreboard.column.all %}
                                    <th>{{col.header}}</th>
                                {%endfor%}
                                <th>Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for stu in scoreboard.student.all%}
                                <tr>
                                    <td class = "Rank">1</td>
                                    <td><a href="/participants/{{stu.id}}">{{stu.name}}</a></td>
                                    <script>
                                      weighted(-1, -1, -1);
                                    </script>
                                    {% for col in scoreboard.column.all %}
                                        {% for po in stu.score.all %}
                                            {% if po.column == col %}
                                                <script>
                                                  weighted({{po.numerator}}, {{po.denominator}}, {{col.weight}});
                                                </script>
                                                <td class = "Cell" bgcolor="#00CC00">{{po.numerator}}/{{po.denominator}}</td>
                                                <script>
                                                  headFunction({{po.numerator}}, {{po.denominator}});
                                                </script>
                                            {%endif%}
                                        {%endfor%}
                                    {%endfor%}
                                    <td class = "weight"></td>
                                    <script>
                                      weighted(-2, -2, -2);
                                    </script>
                                </tr>
                            {%endfor%}
                            <script>
                              reset();
                            </script>
                        </tbody>
                    </table>
                    <br>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>Add a scoreboard! :)</p>
    {% endif %}
        
{%endblock%}