{%extends 'scoreboard/base.html'%}
{# Load the tag library #}
{% load bootstrap3 %}
{%load staticfiles%}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%block title%}
    Scoreboard - {{object.name}}
{%endblock%}

{%block content%}
    <div class="detail-scoreboard">
        <b><h1>{{object.name}}</h1></b>
        <h4>Description:</h4>
        <p>{{object.description}}</p>
        <h4>Scoreboard itself:</h4>
        
        
        
        <table class = "sortable" id = "t01" style="width:100%">
            <thead>
                <tr>
                    <th class="sorttable_nosort">Ranking</th>
                    <th>Contestant</th>
                    {% for col in object.column.all %}
                        <th>{{col.header}}</th>
                    {%endfor%}
                    <th>Overall</th>
                </tr>
            </thead>
            <tbody>
                {%for stu in object.student.all%}
                    <tr>
                        <td class = "Rank">1</td>
                        <td><a href="/participants/{{stu.id}}">{{stu.name}}</a></td>
                        <script>
                          weighted(-1, -1, -1);
                        </script>
                        {% for col in object.column.all %}
                            {% for po in stu.score.all %}
                                {% if po.column == col %}
                                    <script>
                                      weighted({{po.numerator}}, {{po.denominator}}, {{col.weight}});
                                    </script>
                                    <td class = "Cell" bgcolor="#00CC00">{{po.numerator}}/{{po.denominator}}</td>
                                    <script>
                                      headFunction({{po.numerator}}, {{po.denominator}});
                                    </script>
                                {%endif%}
                            {%endfor%}
                        {%endfor%}
                        <td class = "weight"></td>
                        <script>
                          weighted(-2, -2, -2);
                        </script>
                    </tr>
                {%endfor%}
            </tbody>
        </table> 
        <br>
        <br>
        
        <h4>All participants:</h4>
        <ul>
            {%for stu in object.student.all%}
                <li><a href="/participants/{{stu.id}}">{{stu.name}}</a></li>
            {%endfor%}
        </ul>
        
        <h4>All Columns</h4>
        <ul>
            {%for col in object.column.all%}
                <li>{{col.header}}</li>
            {%endfor%}
        </ul>
    </div>
    <div id = "editdelete">
        {% buttons %}
            <a href="/scoreboard/{{object.id}}/edit">
                <button type="submit" class="btn btn-primary">
                    Edit  {% bootstrap_icon "log-in" %} 
                </button>
            </a>
            <a href="/scoreboard/{{object.id}}/delete">
                <button type="submit" class="btn btn-primary" style = "background-color:red; border-color:red">
                    Delete  {% bootstrap_icon "log-in" %} 
                </button>
            </a>
        {% endbuttons %}
    </div>
{%endblock%}